@model MVCSirketYonetimi.Data.Models.Entities.Departman
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departman Ekleme Sayfası</h2>

@using (Html.BeginForm("Ekle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Ad)
        @Html.TextAreaFor(x => x.Ad, new { @class = "form-control" })

    </div>
    @Html.HiddenFor(x => x.Id)

    <br>

    <button type="submit" class="btn btn-success"> Departmanı Ekle</button>


}

