@model MVCSirketYonetimi.Data.Models.Entities.Departman
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departman Güncelleme Sayfası</h2>

@using (Html.BeginForm("Guncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Ad)
        @Html.TextAreaFor(x => x.Ad, new { @class = "form-control" })


    </div>

    @Html.HiddenFor(X => X.Id)

    <br>

    <button type="submit" class="btn btn-success"> Departmanı Güncelle</button>


}



