@using MVCSirketYonetimi.Data.Models.Entities
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Departman Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>Ad</td>
            <td>Güncelle</td>
            <td>Sil</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var departman in Model)
        {
            <tr>
                <td>@departman.Id</td>
                <td>@departman.Ad</td>
               

                <td><a class="btn btn-primary" href="/Departman/Guncelle/@departman.Id">Güncelle</a></td>
                <td><a class="btn btn-primary" href="/Departman/Sil/@departman.Id">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Departman/Ekle" class="btn btn-danger">Departman Ekle Sayfasına Git</a>

